
 <div class="container">
  <div class="row">
   <div class="mx-auto main-vi">
    <div class="text-box">
     <p class="text">
      ようこそ、ながのCAKEへ！<br>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員でない方も商品の閲覧はできますが、<br>
      購入には会員登録が必要になります。<br>
     </p>
    </div>
   </div>
  </div>
   <h3>新着商品</h3>

    <div class="row flex-container">
      <% @items.last(4).each do |item|%>
       <div class="flex-item"><%= link_to attachment_image_tag(item, :image, :fill, 200, 200, format: 'jpeg', fallback: "no_image.jpg", size: "200x200"), item_path(item.id) %></br>
       <%= item.name %><br>
       <%= item.price %></div>
      <% end %>
      <%= link_to '全ての商品を見る>', items_path, class: "all_item" %>

   </div>
 </div>
