
 <div class="container">
  <div class="row">
   <div class="mx-auto main-vi">
    <div class="text-box">
     <p class="text">
      ようこそ、ながのCAKEへ！<br>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員でない方も商品の閲覧はできますが、<br>
      購入には会員登録が必要になります。<br>
     </p>
    </div>
   </div>
  </div>
   <h3>新着商品</h3>
    <div class="row">
     <div class="flex-container">
      <% @items.each do |item|%>
      <div class="flex-item"><%= attachment_image_tag(item, :image, :fill, 200, 200, format: 'jpeg', fallback: "no_image.jpg", size: "200x200") %></div>
      <div class="flex-item"><%= item.name %></div>
      <div class="flex-item"><%= item.price %></div>

   <% end %>
   </div>
   </div>
   <div class="button">
  <span>詳細はこちら></span><i class="fas fa-chevron-right"></i>
</div>
 </div>
