<h2>注文情報確認</h2>
  <table border="4">
      <tr>
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
      </tr>
      <tr>
          <td>〇〇</td>
          <td>〇〇</td>
          <td>〇〇</td>
          <td>〇〇</td>
      </tr>
  </table>
  <table border="3" align ="left">
      <tr>
          <td>送料</td>
          <td>〇〇</td>
      </tr>
      <tr>
          <td>商品合計</td>
          <td>〇〇</td>
      </tr>
      <tr>
          <td>請求金額</td>
          <td>〇〇</td>
      </tr>
  </table><br clear="left">

<p>支払い方法</p>

<p>お届け先</p>
